@model SklepInternetowy.ViewModels.ZamowienieZrealizowaneEmail
Content-Type: text/html; charset=utf-8

<html>
<body>
    @Html.EmbedImage("~/content/Images/logo.png")
    <p>Dziękujemy!</p>
    <p>Twoje zamówienie <strong>nr @Model.NumerZamowienia</strong> złożone w serwisie Sklep Internetowy zostało zrealizowane.</p>
    <p>Dziękujemy i zapraszamy ponownie!</p>
    <p>Sklep Internetowy</p>
</body>
</html>